@model MVC_FUT_NFL.Models.Video

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlVideo)
            <br>
            <iframe width="560" 
                height="315"
                src="@Html.DisplayFor(model => model.UrlVideo)"
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
            <br />
            <video width="640" height="360" controls>
                <source src="@Html.DisplayFor(model => model.UrlVideo)" type="video/mp4">
                Tu navegador no soporta el tag de video.
            </video>

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPartidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPartidoNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
