@model IEnumerable<MVC_FUT_NFL.Models.Video>

@{
    ViewData["Title"] = "Sección de Videos";
}

<h1>Mejores Momentos</h1>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.TituloVideo</h5>
                <p class="card-text">
                    <iframe width="100%" height="315" src="@item.UrlVideo" frameborder="0" allowfullscreen></iframe>
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    Partido entre:
                    @Html.DisplayFor(modelItem => item.IdPartidoNavigation.IdEquipo1Navigation.Nombre)
                    <b>vs</b>
                    @Html.DisplayFor(modelItem => item.IdPartidoNavigation.IdEquipo2Navigation.Nombre)
                    <br />
                    Fecha del Partido: @item.IdPartidoNavigation.Fecha
                </small>
            </div>
        </div>
    }
</div>
